<app-navbar></app-navbar>
    <div class="container bg-secondary">
        <h3 class="text-center text-light">
            Qu'est ce qu'un CPU ?
        </h3>
        <div class="row py-5 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <fieldset class="form-group" style="font-size: 1.2rem;">
                    <div class="form-check">
                      <label class="form-check-label text-info">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                        un processeur
                      </label>
                    </div>
                    <div class="form-check">
                      <label class="form-check-label text-light">
                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                        une carte video
                      </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label text-light">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
                          un dd
                        </label>
                      </div>
                      <div class="form-check">
                        <label class="form-check-label text-light">
                          <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                          4 la reponse 4
                        </label>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-info mt-5">
                            valid
                        </button>
                      </div>
                  </fieldset>
            </div>
        </div>
        <div class="offset-lg-4 offset-md-3 col-lg-4 col-md-6 col-sm-8">
            <div class="progress ">
                <div class="progress-bar bg-warning" role="progressbar" style="width: 5%;" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
                    <span class="text-dark">5%</span>
                </div>
            </div>
        </div>  
    </div>
    
