<app-navbar></app-navbar>
    <div class="container bg-secondary">
        <div class="row">
        <div class="col-6 border-right">
            <h3 class="text-center">
                Statistic
            </h3>
            <div class="row py-5">
                    <div class="card text-white bg-primary" style="max-width: 20rem;">
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                        <div class="card-header">
                            module name
                        </div>
                        <div class="card-body">
                            <div class="progress ">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                    <span class="text-dark">25%</span>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="card text-white bg-primary" style="max-width: 20rem;">
                        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-header">
                              module name
                          </div>
                          <div class="card-body">
                              <div class="progress ">
                                  <div class="progress-bar bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                                      <span class="text-dark">50%</span>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
            </div>
        </div>
        <div class="col-6"> 
            <h3 class="text-center">
                User settings
            </h3>
            <div class="row py-5 d-flex justify-content-center">
                <div class="col-8">
                    <button class="btn btn-warning btn-lg btn-block">change password</button>
                    <button class="btn btn-danger btn-lg btn-block">Delete account</button>
                    <button class="btn btn-danger btn-lg btn-block">logout</button>
                </div>
            </div>
        </div>
    </div>
</div>

