<app-navbar></app-navbar>
    <div class="container bg-secondary">
        <h3 class="text-center">
            <p class="py-5 offset-2 col-8 text-light">
                Bienvenue sur notre quiz ! Vous souhaitez tester vos connaissances ? Prouver au monde que VOUS êtes le meilleur ?
                Vous êtes au bon endroit. Choisissez parmi plusieurs thématique puis choisissez vos modules.
                Retrouvez vos statistiques directement sur votre profil !
            </p>
        </h3>
        <div class="row py-5">
            <a [routerLink]="['/modules', theme.id]" *ngFor="let theme of this.themeData">
                <div class="card text-white bg-primary" style="max-width: 20rem;">
                  <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        {{theme.name}}
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                        {{theme.description}}
                      </p>
                    </div>
                  </div>
                </div>
            </a>
        </div>
    </div>
