<app-navbar></app-navbar>
    <div class="container bg-secondary">
        <h3 class="text-center">
          {{this.themeName}}
        </h3>
        <div class="row py-5">
            <a [routerLink]="['modules/1/question', 1]" *ngFor="let module of getModuleByTheme()">
                <div class="card text-white bg-primary" style="max-width: 20rem;">
                  <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                    <div class="card-header">
                        {{module.name}}
                    </div>
                    <div class="card-body">
                      <p class="card-text">
                      {{module.description}}
                      </p>
                    </div>
                  </div>
                </div>
            </a>
        </div>
    </div>
