<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fab fa-quinscape"></i>
          </a>      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarColor01">
        <ul class="navbar-nav me-auto">
         
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">**username**</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
